<section class="project-related pb-0 pb-lg-8 pb-xxl-11">
  <div class="container">
    <!--Section Header-->
    <div class="row">
      <div class="col-lg-10">
        <div class="section-header">
          <h2>{{mottoHead}}</h2>
          <p>{{designMotto}}</p>
        </div>
      </div>
      <!--Section Header-->
    </div>
    <!--Project Work-->
    <div class="row">
      <!--Project Item-->
      <div class="col-md-6">
        <div class="project-related-item">
          <img src="{{designImg}}" alt="" class="">
        </div>
      </div>

      <!--Project Item-->
      <div class="col-md-6">
        <div class="project-related-item">
          <img src="{{designImg2}}" alt="" class="">
        </div>
      </div>
    </div>
    <!--Project Work-->
  </div>
</section>