<section class="page-hero">
  <div class="page-hero-shape-wrapper position-absolute w-100 h-100">
    <div class="shape-1">
    </div>
    <div class="shape-2">
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-heading">
          <div class="page-heading-title">
            <h1>{{title}}</h1>
          </div>
          <div class="page-heading-content d-sm-flex justify-content-center justify-content-lg-start">
            <div class="me-xxl-5 me-lg-8">
              <div class="item">
                <span>{{clientName}}</span>
                <span class="title">{{type}}</span>
              </div>
              <div class="item">
                <span>{{duraHead}}</span>
                <span class="title">{{dura}}</span>
              </div>
            </div>
            <div class="">
              <div class="item">
                <span>{{taskHead}}</span>
                <span class="title">{{task}}</span>
              </div>
              <div class="item">
                <span>{{linkHead}}</span>
                <span class="title"><a href="{{link}}">{{linkText}}</a></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>