{% extends "base.njk" %}
{% block content %}
  {% include "homepage-gd/hero.njk" %}
  {% include "homepage-gd/services.njk" %}
  {% include "homepage-gd/projects.njk" %}
  {% include "homepage-gd/resume.njk" %}
  {% include "homepage-gd/fedback.njk" %}
{% endblock %}