{% extends "base.njk" %}
{% block navbar %}
  {% include "navdev.njk" %}
{% endblock %}
{% block content %}
  {% include "homepage-dev/hero.njk" %}
  {% include "homepage-dev/achievements.njk" %}
  {% include "homepage-dev/projects.njk" %}
  {% include "homepage-dev/resume.njk" %}
  {% include "homepage-dev/fedback.njk" %}
{% endblock %}