{% extends "base.njk" %}
{% block content %}
  {% include "homepage-pd/hero.njk" %}
  {% include "homepage-pd/services.njk" %}
  {% include "homepage-pd/resume.njk" %}
  {% include "homepage-pd/projects.njk" %}
  {% include "homepage-pd/fedback.njk" %}
{% endblock %}