<section class="services-two pt-md-0 pt-xxl-10 pb-lg-8 pb-4 pt-xl-6">
  <div class="services-shape-wrapper position-absolute w-100 h-100">
    <div class="shape-1"></div>
    <div class="shape-2"></div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-header">
          <h2>{{services_gd.title}}</h2>
        </div>
      </div>
    </div>
    <div class="row">
      {% for service in services_gd.provide %}
      <div class="col-lg-4">
        <div class="card text-center">
          <div class="card-icon services-item-icon">
            <img src="{{service.icon}}" alt="services-icon" />
          </div>
          <div class="card-body">
            <h4 class="card-title">{{service.title}}</h4>
            <p class="card-text">
              {{service.des}}
            </p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>